
<form th:fragment="form" action="#" th:action="@{/addreference}" th:object="${test}" method="post">
    <input type="hidden" id="type" value="Article" name="type"/>
    * Id: <br/>
    <input type="text" id="refId" name="refId" required="" /> <br/>
    * Author: <br/>
    <input type="text" id="author" name="author" required="" /> <br/>
    * Title: <br/>
    <input type="text" id="title" name="title" required="" /> <br/>
    * Journal: <br/>
    <input type="text" id="journal" name="journal" required="" /> <br/>
    * Year: <br/>
    <input type="text" id="year" name="year" pattern="[0-9]*" required="" /> <br/>
    * Volume: <br/>
    <input type="text" id="volume" name="volume" pattern="[0-9]*" required="" /> <br/>
    Number: <br/>
    <input type="text" id="number" name="number" pattern="[0-9]*" /> <br/>
    Pages: <br/>
    <input type="text" id="pages" name="pages" pattern="[0-9]*(--[0-9]*)?" /> <br/>
    Month: <br/>
    <input type="text" id="month" name="month" /> <br/>
    Note: <br/>
    <input type="text" id="note" name="note" /> <br/>
    Key: <br/>
    <input type="text" id="key" name="key" /> <br/>
    <input type="submit" id="submitButton" value="Add"/> *Required
</form>