
<form th:fragment="form" action="#" th:action="@{/addreference}" th:object="${test}" method="post">
    <input type="hidden" id="type" value="Book" name="type"/>
    * Id: <br/>
    <input type="text" id="refId" name="refId" required="" /> <br/>
    * Author/Editor: <br/>
    <input type="text" id="author" name="author" required="" /> <br/>
    * Title: <br/>
    <input type="text" id="title" name="title" required="" /> <br/>
    * Publisher: <br/>
    <input type="text" id="publisher" name="publisher" required="" /> <br/>
    * Year: <br/>
    <input type="text" id="year" name="year" pattern="[0-9]*" required="" /> <br/>
    Volume/Number: <br/>
    <input type="text" id="volume" name="volume" pattern="[0-9]*" /> <br/>
    Series: <br/>
    <input type="text" id="series" name="series" /> <br/>
    Address: <br/>
    <input type="text" id="address" name="address" /> <br/>
    Edition: <br/>
    <input type="text" id="edition" name="edition" /> <br/>
    Month: <br/>
    <input type="text" id="month" name="month" /> <br/>
    Note: <br/>
    <input type="text" id="note" name="note" /> <br/>
    Key: <br/>
    <input type="text" id="key" name="key" /> <br/>
    <input type="submit" id="submitButton" value="Add"/> *Required
</form>