<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BibTeX PRO</title>
</head>
<body>
    <form action="#" th:action="@{/addreference}" th:object="${test}" method="post">
        <input type="hidden" value="Article" name="type"/>
        * Id: <br/>
        <input type="text" name="id" required="" /> <br/>
        * Author: <br/>
        <input type="text" name="author" required="" /> <br/>
        * Title: <br/>
        <input type="text" name="title" required="" /> <br/>
        * Journal: <br/>
        <input type="text" name="journal" required="" /> <br/>
        * Year: <br/>
        <input type="text" name="year" pattern="[0-9]*" required="" /> <br/>
        * Volume: <br/>
        <input type="text" name="volume" pattern="[0-9]*" required="" /> <br/>
        Number: <br/>
        <input type="text" name="number" pattern="[0-9]*" /> <br/>
        Pages: <br/>
        <input type="text" name="pages" pattern="[0-9]*(--[0-9]*)?" /> <br/>
        Month: <br/>
        <input type="text" name="month" /> <br/>
        Note: <br/>
        <input type="text" name="note" /> <br/>
        Key: <br/>
        <input type="text" name="key" /> <br/>
        <input type="submit" value="Add"/> *Required
    </form>
</body>
</html>