<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BibTeX PRO</title>
</head>
<body>
    <form action="#" th:action="@{/addreference}" th:object="${test}" method="post">
        <input type="hidden" value="Book" name="type"/>
        * Id: <br/>
        <input type="text" name="id" required="" /> <br/>
        * Title: <br/>
        <input type="text" name="title" required="" /> <br/>
        * Author: <br/>
        <input type="text" name="author" required="" /> <br/>
        * Year: <br/>
        <input type="text" name="year" required="" /> <br/>
        Volume/Number: <br/>
        <input type="text" name="volume" /> <br/>
        Series: <br/>
        <input type="text" name="series" /> <br/>
        Address: <br/>
        <input type="text" name="address" /> <br/>
        Edition: <br/>
        <input type="text" name="edition" /> <br/>
        Month: <br/>
        <input type="text" name="month" /> <br/>
        Note: <br/>
        <input type="text" name="note" /> <br/>
        Key: <br/>
        <input type="text" name="key" /> <br/>
        <input type="submit" value="Add"/> *Required
    </form>
</body>
</html>