<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BibTeX PRO</title>
</head>
<body>
    <form action="#" th:action="@{/addreference}" th:object="${test}" method="post">
        <input type="hidden" value="Inproceeding" name="type"/>
        * Id: <br/>
        <input type="text" name="id" required="" /> <br/>
        * Author: <br/>
        <input type="text" name="author" required="" /> <br/>
        * Title: <br/>
        <input type="text" name="title" required="" /> <br/>
        * Booktitle: <br/>
        <input type="text" name="booktitle" required="" /> <br/>
        * Year: <br/>
        <input type="text" name="year" pattern="[0-9]*" required="" /> <br/>
        Editor: <br/>
        <input type="text" name="editor" /> <br/>
        Volume/Number: <br/>
        <input type="text" name="volume" /> <br/>
        Series: <br/>
        <input type="text" name="series" /> <br/>
        Pages: <br/>
        <input type="text" name="pages" pattern="[0-9]*(--[0-9]*)?" /> <br/>
        Address: <br/>
        <input type="text" name="address" /> <br/>
        Month: <br/>
        <input type="text" name="month" /> <br/>
        Organization: <br/>
        <input type="text" name="organization" /> <br/>
        Publisher: <br/>
        <input type="text" name="publisher" /> <br/>
        Note: <br/>
        <input type="text" name="note" /> <br/>
        Key: <br/>
        <input type="text" name="key" /> <br/>
        <input type="submit" value="Add"/> *Required
    </form>
</body>
</html>