<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <title>BibTeXPro: Add a reference</title>
    </head>
    <body>
        <div>
            <p>Lisää viite</p>
            <form th:action="@{/addreference}" method="POST">
                <input type="text" placeholder="syötä kirjan nimi" name="title"/>
                <input type="text" placeholder="syötä kirjailijan nimi" name="author"/>
                <input type="submit" value="Luo uusi kirja"/>            
            </form>
        </div>
    </body>
</html>
