<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BibTeX PRO</title>
</head>
<body>
    <h1>Welcome to BibTeXPro</h1>
    
    <a th:href="@{/bibtex}" id="bibtexLink" >Download BibTex-file</a><br/>
    <a th:href="@{/list}" id="listLink" >View entries as list</a><br/>
    <br/>
    
    <select id="referenceType" onchange="formSwap()">
        <option id="articleOption" value="addarticle.html">
            Article
        </option>
        <option id="bookOption" value="addbook.html">
            Book
        </option>
        <option id="inproceedingOption" value="addinproceeding.html">
            Proceeding
        </option>
    </select>
    
    <p id="referenceForm"></p>
    
<script>
    window.onload = formSwap();
    function formSwap() {
        var type = document.getElementById("referenceType").value;
        var form = document.getElementById("referenceForm");
        var xhr = new XMLHttpRequest(); 
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                form.innerHTML = xhr.responseText;
            }   
        };      
        xhr.open('GET', '/'+type);
        xhr.send();  
    }
</script>

</body>
</html>